<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>584497205687-l8dgbt6surp4eqekud2rh7fa46dsra53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584497205687-l8dgbt6surp4eqekud2rh7fa46dsra53</string>
	<key>API_KEY</key>
	<string>AIzaSyCH1bFu7VMBMoHq73v1EnlfE6I8w3PlDwI</string>
	<key>GCM_SENDER_ID</key>
	<string>584497205687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madarsoft.DemoForMap</string>
	<key>PROJECT_ID</key>
	<string>demoformap-e1364</string>
	<key>STORAGE_BUCKET</key>
	<string>demoformap-e1364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584497205687:ios:a34b83be958037c9</string>
	<key>DATABASE_URL</key>
	<string>https://demoformap-e1364.firebaseio.com</string>
</dict>
</plist>